<app-shared-header [header]="(response | async)?.header"></app-shared-header>

<app-shared-section leftAnimate="zoomIn" rightAnimate="zoomIn" [left]="(response | async)?.approach.left" [right]="(response | async)?.approach.right">
</app-shared-section>

<app-shared-section leftAnimate="zoomIn" rightAnimate="zoomIn" [left]="(response | async)?.corporateVision.left" [right]="(response | async)?.corporateVision.right">
</app-shared-section>

<app-shared-section leftAnimate="zoomIn" rightAnimate="zoomIn" [left]="(response | async)?.strategy.left" [right]="(response | async)?.strategy.right">
</app-shared-section>

<app-shared-section leftAnimate="zoomIn" rightAnimate="zoomIn" [left]="(response | async)?.targetSegment.left" [right]="(response | async)?.targetSegment.right">
</app-shared-section>
