<div class="margin">
  <button [routerLink]="['/admin/skywalkDevelopments']" mat-icon-button color="primary">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="page-title">{{'admin.skywalkDevelopments.aboutUsComponent.title' | translate}} </span>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      {{'admin.skywalkDevelopments.aboutUsComponent.info' | translate}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex-col">
      <span class="page-title">{{'admin.skywalkDevelopments.aboutUsComponent.headerInfo' | translate}} </span>
      <app-header [initHeader]="aboutUs?.header" [imagesSavePath]="imagesSavePath" (header)="updateHeader($event)" (valid)="updateHeaderValidation($event)" ></app-header>
      <span class="page-title">{{'admin.skywalkDevelopments.aboutUsComponent.sectionInfo' | translate}} </span>
      <app-section [initSection]="aboutUs?.section" [imagesSavePath]="imagesSavePath" (section)="updateSection($event)" (valid)="updateSectionValidation($event)" ></app-section>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="d-flex-row-rev">
      <button [disabled]="!valid()" (click)="save()" mat-raised-button color="primary">
        {{'admin.skywalkDevelopments.aboutUsComponent.save' | translate}}
      </button>
    </div>
  </mat-card-actions>
</mat-card>
