
<div class="m-head ">
    <span>latest news</span>
  </div>
  <div *ngIf="loading" class="spinner">
    <div class="flex-cen center">
        <img src="assets/images/Skywalk logo 2.png">
    </div>
  </div>
<div *ngIf="!loading" class="container">
  <div class="flex">
    <div class="news-flex-child" *ngFor="let n of news">
    <div *ngIf="n?.image" class="news-image">
      <img [src]="n?.image.imageDownloadURL" alt="">
    </div>
    <div class="news-content flex-cen">
        <div class="header">
        <h2 class="light-black">{{n?.title}}</h2>
      </div>
      <div class="paragraph">
        <p class="dark-gray" [innerHtml]=" n?.content | slice:0:20">
        </p>
      </div>
        <div>
            <a [routerLink] = "['/news' , n.key]" class="news-button" mat-raised-button>READ MORE</a>
        </div>
    </div>
</div>
</div>
</div>