.pad-0{
    padding: 0;
}
 .right{
     float: right;
 }
  
.about-sec,.career-sec,.about-sec{
    position: relative;
}
.about-sec .bg-img{
    float: right;
}
.about-sec .abs-head{
    left: 10%;
}
.abou-lef > img{
    width: 100%;
    min-height: 400px;
    height: auto;
}
.relative{
    position: relative;
}
.about-us-logo{
    right: 0;
    position: absolute;
    top: -490px;
    z-index: -1;
}
.about-us-logo img{
    height: 300px;
    width: auto;
}