<div>
  <button [routerLink]="['/admin/skywalkDevelopments/aboutUs']" mat-raised-button color="primary">{{'admin.skywalkDevelopments.aboutUs' | translate}}</button>
  <button [routerLink]="['/admin/skywalkDevelopments/ourPhilosophy']" mat-raised-button color="primary">{{'admin.skywalkDevelopments.ourPhilosophy' | translate}}</button>
  <button [routerLink]="['/admin/skywalkDevelopments/ourKeysToSuccess']" mat-raised-button color="primary">{{'admin.skywalkDevelopments.ourKeysToSuccess' | translate}}</button>
  <button [routerLink]="['/admin/skywalkDevelopments/ourPartners']" mat-raised-button color="primary">{{'admin.skywalkDevelopments.ourPartners' | translate}}</button>
</div>
