.main-container {
  background-color: white;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: lighter;
}

img {
  object-fit: cover;
  object-position: top;
}

p {
  font-family: 'Myriad Pro', sans-serif;
}

.black {
  color: black;
}

.about-container {
  background-color: #FED18F;
  color: black;
}

.about-container > div {
  margin: 100px;
  margin-left: 145px;
}

.black-line-before::before {
  content: '';
  position: absolute;
  background-color: black;
  width: 45px;
  height: 3px;
  top: 25px;
  margin-left: -55px;
}

.location-container {
  background-color: white;
  color: #2E3092;
}

.location-container > div {
  margin: 100px;
  margin-left: 145px;
}

.location-button {
  background-color: #2E3092;
  color: white;
  width: fit-content;
}

.blue-line-before::before {
  content: '';
  position: absolute;
  background-color: #2E3092;
  width: 45px;
  height: 3px;
  top: 25px;
  margin-left: -55px;
}

.background-color-blue {
  background-color: #2E3092;
}

.masterplan-container {
  background-color: #2E3092;
  color: white;
}

.masterplan-container > div {
  margin: 100px;
  margin-left: 145px;
}

.masterplan-padding-image {
  padding: 50px 0 50px 150px;
}

.white-line-before::before {
  content: '';
  position: absolute;
  background-color: white;
  width: 45px;
  height: 3px;
  top: 25px;
  margin-left: -55px;
}

.full-height {
  height: 100%;
}

.height-300 {
  height: 300px;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 340px;
  margin: 30px;
  /*width: calc(50% - 60px);*/
  transition: transform 1s ; /* Animation */
  z-index: 1;
}

.max-width-80 {
  max-width: 80%;
}

.margin-l-100 {
  margin-left: 100px;
}

.overflow-wrap-break {
  overflow-wrap: break-word;
}

.project-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.project:hover  {
  transform: scale(1.1);
}

.project-button {
  border-radius: 0!important;
  font-size: 12px!important;
  font-family: 'Myriad Pro', sans-serif;
  background-color: #fff;
  color: #404041;
  text-transform: uppercase;
}

.project-background:hover {
  opacity: .6;
}

.flex-warp {
  flex-wrap: wrap;
}

.success-image {
  max-width: 68%;
  max-height: 69%;
}

.overView-image {
  max-width: 81%;
}

.margin-b-35 {
  margin-bottom: 35px;
}

.flex-9 {
  flex: 9;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.d-flex-col{
  display: flex;
  flex-direction: column;
}

.full-width-hieght {
  height: 100%;
  width: 100%;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.pos-relative {
  position: relative;
}

.full-width {
  width: 100%;
}

.margin-right {
  margin-right: 50px;
}

.margin {
  margin: 42px;
  margin-right: 57px;
  margin-top: 74px;
}

.margin-top {
  margin-top: 70px;
}

.flex-2 {
  flex: 2;
}

.pos-absolute {
  position: absolute;
}

.background {
  height: 340px;
  z-index: 1;
}

.padding-50 {
  padding: 50px;
}

.margin-10 {
  margin: 10px;
}

.background-color-red {
  background-color: rgba(158, 11, 15, 1);
}

.background-ele-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 240px;
  color: white;
}

.flex-wrap {
  flex-wrap: wrap;
}

.background-ele-image-logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  height: 240px;
}

.remove-t-b-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*opacity: 0.6;*/
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.logo {
  width: 18%;
  height: 92%;
  position: absolute;
  right: 0;
  top: 50%;
}

.flex-0 {
  flex: 0;
}

.align-item-center {
  align-items: center;
}

.upperCase {
  text-transform: uppercase;
}

.shadow {
  text-shadow: 0 3px 6px;
}

.flex-1 {
  flex: 1;
}

.flex-11 {
  flex: 11;
}

.rotate {
  font-size: 60px;
  transform: rotate(90deg);
  color: #1A1A1A;
  text-align: center;
  transform-origin: bottom left;
  width: 400px;
  position: absolute;
  top: 16%;
  /*bottom: 50%;*/
  /*transform-origin: top left;*/
  /*transform: rotate(-90deg);*/
}

.white {
  color: white;
}

.color {
  color: #1A1A1A;
}

.loading-dots {
  text-align: center;
  z-index: 5;

}

.dot {
  display: inline;
  margin-left: 0.2em;
  margin-right: 0.2em;
  top: -1em;
  font-size: 3.5em;
  opacity: 0;
  position: inherit;
  line-height: 0;
  animation: showHideDot 2.5s ease-in-out infinite;
}

.one {  animation-delay: 0.2s; }
.two { animation-delay: 0.4s; }
.three { animation-delay: 0.6s; }

@keyframes showHideDot {
  0% { opacity: 0; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}

.text-center  {
  text-align: center;
}

.min-height-240 {
  min-height: 240px;
}

.width-84 {
  width: 84%;
}

@media (max-width: 768px) {
  .d-flex-col-media {
    display: flex;
    flex-direction: column;
  }

  .d-block {
    display: block !important;
  }

  .about-container > div {
    margin-left: 56px;
    margin-right: 40px;
  }

  .location-container > div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 56px;
    padding-right: 40px;
  }

  .masterplan-container > div {
    margin-left: 56px;
    margin-right: 40px;
  }

  .logo {
    top: 77%;
  }

  .masterplan-padding-image {
    padding: 0 !important;
  }

  .padding-50 {
    padding: 0 !important;
  }

  .project {
    width:100% !important;
  }

  .margin {
    margin-right: 17px;
  }

  .margin-right {
    margin-right: 0px;
  }

  .overView-image {
    max-width: 83%;
  }

  .success-image {
    max-width: 95%;
    max-height: 100%;
  }
}
