
.button-primary {
  background: url("../../../assets/images/btn-arrow.png") 0 50% no-repeat #ceb040;
  background-color: #ceb040;
  border: 0;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 48px;
  line-height: 46px;
  overflow: hidden;
  padding: 0 22px;
  padding-left: 58px;
  text-align: center;
  text-transform: none;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.carousel-background {
  height: 584px;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.carousel-info {
  background-color: rgba(0, 0, 0, 0.6);
  left: 10px;
  width: auto;
  width: 526px;
  height: auto;
  position: absolute;
  bottom: 45px;
  padding: 7px 20px 7px 12px;
}

.cta {
  margin-top: 14px;
  height: 40px;
  line-height: 38px;
}

.title {
  font-size: 25px;
  line-height: 24px;
  margin-bottom: 20px;
}

.description {
  margin-top: 5px;
}

.big-button {
  display: initial;
}

.small-button {
  display: none;
  background: url("../../../assets/images/slider-arrow.png") 50% 50% no-repeat;
  height: 53px;
  width: 54px;
  background-size: 27px;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.carousel-button {
  display: none !important;
}

.next-button {
  background: url("../../../assets/images/nav-next-arrow.png") 50% 50% no-repeat;
  position: absolute;
  right:2%;
  top: 50%;
  width: 23px;
  height: 40px;
  outline: none;
  border: none;
  cursor: pointer;
}

.prev-button {
  background: url("../../../assets/images/nav-prev-arrow.png") 50% 50% no-repeat;
  position: absolute;
  left:2%;
  top: 50%;
  width: 23px;
  height: 40px;
  outline: none;
  border: none;
  cursor: pointer;
}
@media(max-width: 578px) {
  .carousel-info {
    bottom:0px;
    left: 0px;
    width: 100%;
    right: 0px;
    max-width: initial;
  }

  .big-button {
    display: none;
  }

  .small-button {
    display: block;
  }

  .button-wrapper {
    justify-content: flex-end;
  }
}