<div class="margin">
  <button [routerLink]="['/admin/careers']" mat-icon-button color="primary">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="page-title">{{this.pageTitle}}</span>
</div>

<div class="flex-center">
  <mat-spinner mode="indeterminate" *ngIf="loading"></mat-spinner>
</div>

<div class="container" *ngIf="!loading">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="card-title">
        {{'admin.careers.benefitForm.mainInfo' | translate}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="{{'admin.careers.benefitForm.header' | translate}}"
           [formControl]="benefitHeaderForm" required>
          <mat-error>{{'admin.careers.benefitForm.headerRequired' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput disabled="true" class="margin-b-8" placeholder="{{'admin.careers.benefitForm.content' | translate}} *">
          <app-wysiwyg [contentFormControl]="benefitContentForm" [imagesSavePath]="'/careers/benefits/images'"></app-wysiwyg>
        </mat-form-field>
    </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex">
        <button [routerLink]="['/admin/careers']" mat-raised-button class="cancel" color="warn">
          {{'general.actions.cancel' | translate}}
        </button>
        <button (click)="saveBenefit()" mat-raised-button color="primary" [disabled]="invalidForm()">
          {{'general.actions.save' | translate}}
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
