<div class="margin">
  <button [routerLink]="['/admin/events']" mat-icon-button color="primary">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="news-title">{{pageTitle}}</span>
</div>

<div class="flex-center">
  <mat-spinner mode="indeterminate" *ngIf="loading"></mat-spinner>
</div>

<div class="container" *ngIf="!loading">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="card-title">
        {{'admin.events.event.info' | translate}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex-col">
        <form [formGroup]="eventGroupForm">
          <mat-form-field class="full-width">
            <input matInput placeholder="{{'admin.events.event.title' | translate}}"
                   formControlName="title" required>
            <mat-error>{{'admin.events.event.titleRequired' | translate}}</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width margin-t-8">
            <input matInput [matDatepicker]="picker" placeholder="{{'admin.events.event.date' | translate}}" formControlName="eventDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
          <div class="full-width d-flex-col">
            <span class="margin-b-8">{{'admin.events.event.content' | translate}}</span>
            <app-wysiwyg [imagesSavePath]="events"  [contentFormControl]="eventGroupForm.get('content')"></app-wysiwyg>
          </div>
          <app-uploading-image [initImage]="eventGroupForm.get('image').value" [title]="'Event main image'" imagesSavePath="events" [required]="true" (image)="eventImage($event)"></app-uploading-image>
          <div class="d-flex-col">
            <span class="margin-b-8">{{'admin.events.event.innerButton' | translate}}</span>
            <div class="d-flex-row" formGroupName="innerButton">
              <mat-form-field class="flex-1 margin-r-8">
                <input matInput placeholder="{{'admin.events.event.innerButtonTitle' | translate}}"
                       formControlName="title" required>
                <mat-error>{{'admin.events.event.innerButtonTitleRequired' | translate}}</mat-error>
              </mat-form-field>
              <mat-form-field class="flex-1">
                <input matInput placeholder="{{'admin.events.event.innerButtonUrl' | translate}}"
                       formControlName="url" required>
                <mat-error>{{'admin.events.event.innerButtonUrlRequired' | translate}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex-col margin-t-8">
            <span class="margin-b-8">{{'admin.events.event.outerButton' | translate}}</span>
            <div class="d-flex-row" formGroupName="outerButton">
              <mat-form-field class="flex-1">
                <input matInput placeholder="{{'admin.events.event.outerButtonTitle' | translate}}"
                       formControlName="title" required>
                <mat-error>{{'admin.events.event.outerButtonTitleRequired' | translate}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex-row-rev">
        <button (click)="saveEvent()" mat-raised-button color="primary" [disabled]="invalidForm()">
          {{'general.actions.save' | translate}}
        </button>
        <button [routerLink]="['/admin/events']" mat-raised-button class="cancel" color="warn">
          {{'general.actions.cancel' | translate}}
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
