   <div class="abs-head-left">
    <h1>{{career.title1}}</h1>
</div>
  <div class="flex">
      <div class="flex-w-50 flex-cen" >
        <div class="container">
            <div class="sub-container">
                <h3><span class="h-bef main-color">{{career.title1}}</span></h3>
                <p class="cus-p">{{career.content}}</p>
                <div class="button-row" *ngIf="career.learnMore">
                    <a [routerLink]="career.learnMore" class="btn" mat-button>CHECK ALL</a>
                </div>
            </div>
      </div>
    </div>
  <div class="flex-w-50">
      <img class="img"
       [src]="career.imageUrl1" alt="aboutus" />
  </div>
</div>